In [12]:
import pandas as pd

In [13]:
f1 = pd.read_excel('/content/Sales_finalresult.xlsx', parse_dates=True, squeeze=True)
indus=pd.read_excel('/content/IndustrialProd_finalresult.xlsx',parse_dates=True, squeeze=True)

f3 = f1[["Date", 
         "Sold_Units", "Retail_Sales (in USD)"]].merge(indus[["Industrial_Production"]], 
                                     on = f1["Date"], 
                                     how = "left")

In [14]:
f3.head()

       key_0       Date  ...  Retail_Sales (in USD)  Industrial_Production
0 2019-09-30 2019-09-30  ...                1713600                     89
1 2019-10-01 2019-10-01  ...                1621500                     89
2 2019-10-02 2019-10-02  ...                1405650                     90
3 2019-10-03 2019-10-03  ...                1421700                     90
4 2019-10-04 2019-10-04  ...                1425900                     90

[5 rows x 5 columns]

In [15]:
# creating a new file
f3.to_excel("Results.xlsx", index = False)